[submodule "third_party/Matcha-TTS"]
	path = third_party/Matcha-TTS
	url = https://github.com/shivammehta25/Matcha-TTS.git
[submodule "ipex_to_cuda"]
	path = ipex_to_cuda
	url = https://github.com/Disty0/ipex_to_cuda.git
